body    {
height: 100vh;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 
 

}                                                                        



.btn-moderm {
    padding: 5px 10px;
    background-color: black;
    color: violet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-moderm:hover   {
    background-color: violet;
    border-bottom: 2px solid black;
    color: black;
    box-shadow: 1px 1px 2px 2px #ccc;
    transform: translateY(-5px);
}
